.Home {
    .img-apod {
        width: 100%;
    }
    .app-title {
        position: fixed;
        top: 20px;
        left: 20px;
        font-size: 3em;
        font-family: 'shakra', Arial, Helvetica, sans-serif;
        color: #ffffff;
        padding: 0 10px;
        cursor: pointer;
        animation: 1s ease-out 0s 1 slideInFromTop;

        .title-logo {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .planet {
                animation: 2s ease-out 0s 1 slideInFromTop;
            }
        }
    }
    .slider {
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        margin: 0 auto;
        height: 100%;
        background-color: #ffffff;
        width: 2px;
        animation: 2s ease-out 0s 1 heigthInFromTop;
    }

    .menu {
        position: fixed;
        margin: auto;
        top: 20px;
        display: flex;
        color: #ffffff;
        font-size: 2.5em;
        //transform: translateX(-50%);
        right: 20px;
        animation: 2s ease-out 0s 1 slideInFromTop;

        > a {
            color: #ffffff;
        }
        > * {
            margin: auto;
            padding: 15px;
            justify-content: center;
        }

        > :hover {
            transform: scale(1.5);
            transition: transform 0.2s ease;
            cursor: pointer;
        }
    }
    .metas {
        color: #ffffff;
        position: fixed;
        bottom: 10%;
        right: 10%;
        max-width: 50%;
        font-size: 0.8em;
        text-shadow: 1px 1px #313131;
        background-color: rgba(0, 0, 0, 0.2);
        padding: 10px;
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        line-height: 1.2 em;
        animation: 1s ease-out 0s 1 slideInFromBottom;

        > * {
            padding: 5px 0;
        }

        .title {
            font-size: 2em;
            font-weight: bold;
            font-family: 'shakra', Arial, Helvetica, sans-serif;
        }
        .date {
            font-size: 1.5em;
            font-family: 'shakra', Arial, Helvetica, sans-serif;
            font-style: italic;
        }
        .explanation {
            text-align: justify;
            font-family: 'shakra', Arial, Helvetica, sans-serif;
        }
    }
}

/* Keyframes */
@keyframes heigthInFromTop {
    from {
        height: 0;
    }
    to {
        height: 100%;
    }
}

@keyframes slideInFromBottom {
    from {
        transform: translateY(1000px);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes slideInFromTop {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0);
    }
}
