.Home {
    .img-apod {
        width: 100%;
    }
    .app-title {
        position: fixed;
        top: 20px;
        left: 20px;
        font-size: 3em;
        font-family: 'shakra', Arial, Helvetica, sans-serif;
        color: #ffffff;
        padding: 0 10px;
        cursor: pointer;
    }
    .slider {
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        margin: 0 auto;
        height: 0;
        background-color: #ffffff;
        width: 2px;
        transition: height 1s ease;
    }
    .app-title:hover .slider {
        height: 100%;
    }
    .metas {
        color: #ffffff;
        position: fixed;
        bottom: 10%;
        right: 10%;
        max-width: 50%;
        font-size: 0.8em;
        text-shadow: 1px 1px #313131;
        background-color: rgba(0, 0, 0, 0.2);
        padding: 10px;
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        line-height: 1.2 em;

        > * {
            padding: 5px 0;
        }

        .title {
            font-size: 2em;
            font-weight: bold;
            font-family: 'shakra', Arial, Helvetica, sans-serif;
        }
        .date {
            font-size: 1.5em;
            font-family: 'shakra', Arial, Helvetica, sans-serif;
            font-style: italic;
        }
        .explanation {
            text-align: justify;
            font-family: 'shakra', Arial, Helvetica, sans-serif;
        }
    }
}
