@import '../../styles/keyframes.scss';

.loading {
    height: 100vh;
    width: 100%;
    font-size: 5em;
    animation: fadebackground 1s;

    &.absolute {
        position: fixed;
        background-color: #282c34;
        z-index: 99;
    }

    .spinner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;

        .rotate {
            animation: rotation 4s infinite linear;
        }
    }

    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(359deg);
        }
    }
}
